<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.atg.apds.komipo_main.fend.mapper.db1.auth.TUserMapper">
    <insert id="upsertUser">
        <foreach collection='tUserList' item='item' index='index'>
            MERGE INTO t_user
            USING (SELECT 1 AS DUM) AS A
                ON user_id = #{item.user_id}
            WHEN MATCHED THEN
                UPDATE SET
                    <if test="item.user_pw != null">user_pw = #{item.user_pw},</if>
                    <if test="item.user_nm != null">user_nm = #{item.user_nm},</if>
                    <if test="item.email != null">email = #{item.email},</if>
                    <if test="item.phone_number != null">phone_number = #{item.phone_number},</if>
                    <if test="item.user_status != null">user_status = #{item.user_status},</if>
                    <if test="item.authorities != null">authorities = #{item.authorities},</if>
                    <if test="item.scope != null">scope = #{item.scope},</if>
                    <if test="item.description != null">description = #{item.description},</if>
                    <if test="item.upd_uid != null">upd_uid = #{item.upd_uid},</if>
                    upd_dtm = GETDATE()
            WHEN NOT MATCHED THEN
                INSERT(
                    <if test="item.user_id != null">user_id, </if>
                    <if test="item.user_pw != null">user_pw, </if>
                    <if test="item.user_nm != null">user_nm, </if>
                    <if test="item.email != null">email, </if>
                    <if test="item.phone_number != null">phone_number,</if>
                    <if test="item.user_status != null">user_status, </if>
                    <if test="item.authorities != null">authorities, </if>
                    <if test="item.scope != null">scope, </if>
                    <if test="item.crt_uid != null">crt_uid = #{item.crt_uid},</if>
                    description
                )
                VALUES(
                    <if test="item.user_id != null">#{item.user_id}, </if>
                    <if test="item.user_pw != null">#{item.user_pw}, </if>
                    <if test="item.user_nm != null">#{item.user_nm}, </if>
                    <if test="item.email != null">#{item.email}, </if>
                    <if test="item.phone_number != null">#{item.phone_number}, </if>
                    <if test="item.user_status != null">#{item.user_status}, </if>
                    <if test="item.authorities != null">#{item.authorities}, </if>
                    <if test="item.scope != null">#{item.scope}, </if>
                    <if test="item.crt_uid != null">#{item.crt_uid},</if>
                    #{item.description}
                );
        </foreach>
    </insert>

    <!-- Delete t_function -->
    <delete id = "deleteUser">
        DELETE
        FROM t_user
        WHERE id = #{id}
    </delete>

</mapper>